<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @pokemon.order %>
</p>

<p>
  <strong>Base expirence:</strong>
  <%= @pokemon.base_expirence %>
</p>

<p>
  <strong>Heigth:</strong>
  <%= @pokemon.heigth %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pokemon.weight %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @pokemon.img_url %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
