<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to  pokemons_path, :class=> "navbar-brand" do %>
     <%= image_tag("pokemon_ball.png", :size=>'30x30', :alt=>'Pokemon App') %> Pokemon_app
    <%end%>
    <div class="float-end">
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, :method=>'delete', :class => "btn btn-outline-dark" %>
      <%= link_to "Edit profile", edit_user_registration_path, :class => "btn btn-light"%>
    <% else %>
      <%= link_to "Log In", sign_in_path, :class => "btn btn-outline-warning"%>
      <%= link_to "Sign up", sign_up_path, :class => "btn btn-light" %>
       <% end %>
      </div>
  </div>
</nav>