<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/77902722a0.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/headervar'%>
    <br>
    <%= yield%>

      <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
          toastr['<%= type %>']('<%= f[1] %>', '', {
          "closeButton": true,
          "positionClass": "toast-top-center", 
          "onclick": null, 
          "showDuration": "300", 
          "hideDuration": "1000", 
          "timeOut": "5000", 
          "preventDuplicates": true,
          "extendedTimeOut": "1000", 
          "showEasing": "swing", 
          "hideEasing": "linear", 
          "showMethod": "slideDown", 
          "progressBar": false,
          "hideMethod": "slideUp" });
          <% end %>
        </script>
      <% end %>

  </body>
</html>
